@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 HIT
6.0 FOOTER
7.0 NAV SUPERIOR
8.0 INICIO
9.0 FORMULARIO
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Source+Code+Pro:400,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*para ocultar texto y que lo lean los lectores de no videntes*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*para eliminar los float*/
header, section, footer, aside {
  clear: both;
}

/*imagen al 100% de ancho responsive*/
.image-responsive {
  width: 100%;
  height: auto;
}

/*input al 100%*/
input, select {
  display: block;
  width: 100%;
}

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

small {
  font-size: 70%;
}

strong {
  font-weight: 500;
}

em {
  font-style: italic;
}

.reset-image {
  display: initial !important;
  width: initial !important;
  height: initial !important;
}

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/
/*@font-face {
    font-family: 'Minion Pro';
    src: local('Minion-pro'), local('Minion Pro'),
        url('../fonts/minionpro-regular.otf') format("opentype"),
        url('../fonts/minionpro-regular.ttf') format('truetype'),
        url('../fonts/minionpro-regular.woff') format('woff'),
        url('../fonts/minionpro-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Morganite Black';
    src: local('Morganite Black'), local('morganite-black'),
        url('../fonts/morganite-black.otf') format("opentype"),
        url('../fonts/morganite-black.ttf') format('truetype'),
        url('../fonts/morganite-black.woff') format('woff'),
        url('../fonts/morganite-black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}*/
/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/
/*FUENTES*/
/*$fuente-tercera: 'Minion Pro', $fuente-principal;
$fuente-cuarta: 'Morganite Black', $fuente-principal;*/
/*COLORES*/
/*GRID OPTIONS*/
/*
@media (min-width: $md) {}
-webkit-
-moz-
-ms-
-o-

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
-o-justify-content: center;
justify-content: center;
-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;


&:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
*/
/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/
html, body {
  font-family: "Montserrat", sans-serif;
  color: #333;
  background-color: #fff;
  font-size: 0.9em;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  html, body {
    font-size: 0.9em;
  }
}

.main-wrapper {
  position: relative;
}

.inner-wrapper {
  position: relative;
}

.section-wrapper {
  position: relative;
  clear: both;
  margin: 0;
  padding: 40px 0;
}

.row {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.wrapper-box {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}
@media (min-width: 992px) {
  .wrapper-box {
    width: 50%;
  }
}

.contenedor {
  padding: 0 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .contenedor {
    padding: 0 9%;
  }
}

.contenedor-left {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .contenedor-left {
    padding-left: 19%;
    padding-right: 30px;
  }
}

.contenedor-right {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .contenedor-right {
    padding-left: 30px;
    padding-right: 19%;
  }
}

.hr-separador {
  visibility: hidden;
  height: 10px;
}

/*--------------------------------------------------------------
5.0 hit
--------------------------------------------------------------*/
.hit-legales {
  background: #333;
}
.hit-legales .brand-hit {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  max-width: 341px;
}
@media (min-width: 480px) {
  .hit-legales .brand-hit {
    width: 341px;
  }
}
.hit-legales .brand-hit:hover .image-logo2 {
  opacity: 1;
}
.hit-legales .image-logo {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.hit-legales .image-logo2 {
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
6.0 footer
--------------------------------------------------------------*/
.main-footer {
  position: relative;
  background-color: #ebebeb;
  padding: 50px 15px;
}
@media (min-width: 768px) {
  .main-footer {
    padding: 50px 9%;
  }
}
@media (min-width: 992px) {
  .main-footer {
    padding: 90px 9%;
  }
}
@media (min-width: 1250px) {
  .main-footer {
    padding: 90px 9% 100px;
  }
}
.main-footer:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../images/separador.png);
  height: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.menu-footer {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.menu-footer .menu-footer-wrapper {
  position: relative;
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-size: 1.2em;
  line-height: 2em;
  font-weight: 500;
}
@media (min-width: 768px) {
  .menu-footer .menu-footer-wrapper {
    text-align: left;
    width: 50%;
    font-size: 1em;
    line-height: 1.5em;
  }
}
@media (min-width: 992px) {
  .menu-footer .menu-footer-wrapper {
    text-align: left;
    width: 20%;
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
.menu-footer .newsleter-wrapper {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .menu-footer .brand-name {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .menu-footer .brand-name {
    width: 20%;
  }
}
@media (min-width: 992px) {
  .menu-footer .go-up-wrapper {
    width: 15%;
    text-align: right;
  }
}
.menu-footer .go-up-wrapper button {
  background-color: #fff;
  border: none;
  font-weight: 500;
}
.menu-footer .go-up-wrapper button > span {
  font-size: 1.4em;
  position: relative;
  top: 4px;
  left: 3px;
}
@media (min-width: 992px) {
  .menu-footer .go-up-wrapper button > span {
    font-size: 1.6em;
    top: 4px;
    left: 3px;
  }
}
.menu-footer .go-up-wrapper button:after {
  background: url(../images/corazon-boton-fucsia.png) no-repeat center;
}
.menu-footer .deco-corazon-footer {
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url(../images/sello-somos-re-footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  right: 20px;
  bottom: 20px;
}
@media (min-width: 768px) {
  .menu-footer .deco-corazon-footer {
    right: 0;
    bottom: 0;
  }
}
@media (min-width: 1600px) {
  .menu-footer .deco-corazon-footer {
    width: 42px;
    height: 42px;
  }
}

/*--------------------------------------------------------------
7.0 NAV
--------------------------------------------------------------*/
/*
* BARRA SUPERIOR
*/
.sup-nav-wrapper {
  background-color: #353a34;
  height: 35px;
  padding-left: 10px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .sup-nav-wrapper {
    height: 40px;
  }
}
.sup-nav-wrapper .call-center {
  color: #ffe900;
  text-transform: uppercase;
  font-weight: 500;
}
.sup-nav-wrapper .sup-nav {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  padding-right: 5px;
}
.sup-nav-wrapper .sup-nav a {
  display: block;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 12px;
}
.sup-nav-wrapper .sup-nav a:hover {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.sup-nav-wrapper .sup-nav .a-agencias {
  border-right: 1px solid #999;
  position: relative;
  margin-right: 5px;
  background-image: url(../images/icono-agencia.png);
  background-size: 12px 15px;
}
@media (min-width: 768px) {
  .sup-nav-wrapper .sup-nav .a-agencias {
    position: relative;
    padding-right: 235px;
  }
}
.sup-nav-wrapper .sup-nav .a-facebook {
  background-image: url(../images/facebook.png);
  background-size: 12px 12px;
}
.sup-nav-wrapper .sup-nav .a-instagram {
  background-image: url(../images/instagram.png);
  background-size: 13px 12px;
}
.sup-nav-wrapper .sup-nav .agencias-button {
  display: none;
}
@media (min-width: 768px) {
  .sup-nav-wrapper .sup-nav .agencias-button {
    display: block;
    position: absolute;
    text-align: right;
    right: 10px;
    text-transform: uppercase;
    font-size: 75%;
    line-height: 180%;
    color: #ccc;
    font-weight: 500;
  }
}

/*
* MAIN NAV
*/
.main-nav-wrapper {
  position: relative;
  z-index: 22;
  height: 40px;
  background-color: #fff;
  padding: 0 10px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.main-nav-wrapper .brand-name {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/logo-menu-bar.png);
  background-size: 31px 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.main-nav-wrapper .brand-name:hover {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.main-nav-wrapper .toggle {
  position: relative;
  z-index: 11;
  cursor: pointer;
  display: block;
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .main-nav-wrapper .toggle {
    display: none;
  }
}
.main-nav-wrapper .toggle:focus {
  border: none;
  outline: none;
}
.main-nav-wrapper .toggle .tog1 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #333;
  position: absolute;
  left: 5px;
  top: 10px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.main-nav-wrapper .toggle .tog2 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #333;
  position: absolute;
  left: 10px;
  top: 20px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.main-nav-wrapper .toggle .tog3 {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #333;
  position: absolute;
  left: 5px;
  top: 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.main-nav-wrapper .toggle:hover .tog2 {
  left: 5px;
}
.main-nav-wrapper .toggle-open .tog2 {
  display: none;
}
.main-nav-wrapper .toggle-open .tog1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: initial;
}
.main-nav-wrapper .toggle-open .tog3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: initial;
}
.main-nav-wrapper .main-menu {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 40px;
  background-color: #fff;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
@media (min-width: 992px) {
  .main-nav-wrapper .main-menu {
    height: 100%;
    overflow: visible;
    position: relative;
    z-index: 1;
    top: initial;
    left: initial;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    -o-justify-content: flex-end;
    justify-content: flex-end;
  }
}
.main-nav-wrapper .main-menu li {
  padding: 5px 20px;
  margin: 5px 0;
}
.main-nav-wrapper .main-menu li:first-child {
  margin-top: 20px;
}
@media (min-width: 992px) {
  .main-nav-wrapper .main-menu li:first-child {
    margin-top: 0;
  }
}
@media (min-width: 992px) {
  .main-nav-wrapper .main-menu li {
    margin: 0;
    padding: 5px 10px;
  }
}
.main-nav-wrapper .main-menu li a {
  display: block;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
}
@media (min-width: 992px) {
  .main-nav-wrapper .main-menu li a {
    font-size: 0.7em;
  }
}
.main-nav-wrapper .main-menu li a:hover {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

/*--------------------------------------------------------------
8.0 BTNS Y ANIMACIONES
--------------------------------------------------------------*/
.btn {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  padding-right: 50px;
  text-transform: uppercase;
  border: 1px solid #333;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  color: #333;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 500;
}
@media (min-width: 992px) {
  .btn {
    font-size: 0.7em;
    padding: 15px 30px;
    padding-right: 50px;
  }
}
.btn:hover {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
  color: inherit;
}
.btn:after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../images/corazon-boton-gris.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
  display: block;
  right: 20px;
  top: 47%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .btn:after {
    top: 50%;
  }
}

.btn-blanco {
  color: #333;
  background-color: #fff;
  border: none;
}
.btn-blanco:after {
  background-image: url(../images/corazon-boton-fucsia.png);
}

.btn-amarillo {
  color: #333;
  background-color: #ffe900;
  border: none;
}
.btn-amarillo:after {
  background-image: url(../images/corazon-boton-gris.png);
}

.btn-verde {
  color: #333;
  background-color: #75efd8;
  border: none;
}
.btn-verde:after {
  background-image: url(../images/corazon-boton-gris.png);
}

.btn-fucsia {
  color: #fff;
  background-color: #ff006c;
  border: none;
}
.btn-fucsia:after {
  background-image: url(../images/corazon-boton-blanco.png);
}
.btn-fucsia:hover {
  color: #fff;
}

.btn-borde-fucsia {
  color: #ff006c;
  border: 1px solid #ff006c;
}
.btn-borde-fucsia:after {
  background-image: url(../images/corazon-boton-fucsia.png);
}
.btn-borde-fucsia:hover {
  color: #ff006c;
}

.btn-facebook {
  color: #fff;
  background-color: #3a5ca9;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-facebook:after {
  background-image: url(../images/facebook-formulario.png);
  background-size: 16px 17px;
}
.btn-facebook:hover {
  color: #fff;
}

.btn-google {
  background-color: #e6e6e6;
  border: none;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .btn-google {
    margin: 0;
    margin-left: 10px;
  }
}
.btn-google:after {
  background-image: url(../images/google-formulario.png);
  background-size: 18px 19px;
  width: 18px;
  height: 19px;
}

.btn-share {
  position: absolute;
  z-index: 222;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  display: block;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url(../images/compartir-gris.png);
  background-size: 22px 21px;
}
@media (min-width: 768px) {
  .btn-share {
    width: 43px;
    height: 42px;
    background-size: 43px 42px;
  }
}
@media (min-width: 992px) {
  .btn-share {
    bottom: 30px;
    right: 30px;
  }
}
.btn-share .share-item {
  position: absolute;
  z-index: 220;
  top: 0px;
  border: 1px solid #333;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  right: 3px;
  width: 15px;
  height: 15px;
  line-height: 2em;
  font-size: 0.6em;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
@media (min-width: 768px) {
  .btn-share .share-item {
    width: 30px;
    height: 30px;
    line-height: 2em;
    font-size: 1em;
    right: 7px;
  }
}
.btn-share .share-item1 {
  top: -25px;
}
@media (min-width: 768px) {
  .btn-share .share-item1 {
    top: -40px;
  }
}
.btn-share .share-item2 {
  top: -50px;
}
@media (min-width: 768px) {
  .btn-share .share-item2 {
    top: -80px;
  }
}
.btn-share .share-item3 {
  top: -75px;
}
@media (min-width: 768px) {
  .btn-share .share-item3 {
    top: -120px;
  }
}
.btn-share:hover {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: 0.8;
}
.btn-share:hover .share-item {
  opacity: 1;
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
  -ms-transform: translateY(-25px);
  transform: translateY(-25px);
}
@media (min-width: 768px) {
  .btn-share:hover .share-item {
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}

.btn-share-blanco {
  background-image: url(../images/compartir-blanco.png);
  background-size: 22px 21px;
}
@media (min-width: 768px) {
  .btn-share-blanco {
    background-size: 43px 42px;
  }
}
.btn-share-blanco .share-item-blanco {
  border-color: #fff;
  color: #fff;
}

/*
 * ANIMACIONES
*/
.animation-blink {
  opacity: 0;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*--------------------------------------------------------------
9.0 FORMULARIO
--------------------------------------------------------------*/
/*
 * FORMULARIO
*/
.formulario {
  position: relative;
  padding: 0 0 40px 0;
  margin-bottom: 20px;
}
.formulario legend {
  font-size: 1.2em;
  font-weight: 500;
}
.formulario .inner-wrapper-form {
  width: 100%;
  margin: 40px 0;
}
@media (min-width: 992px) {
  .formulario .inner-wrapper-form-sm {
    width: 67%;
  }
}
.formulario .form-row {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .formulario .margin-left {
    margin-left: 0.5em;
  }
}
@media (min-width: 992px) {
  .formulario .margin-right {
    margin-right: 0.5em;
  }
}
.formulario .loader {
  display: none;
  background: rgba(0, 0, 0, 0.2) url(../images/loader-espiral.gif) no-repeat center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: 20%;
  z-index: 111;
}
.formulario .msj-form {
  position: relative;
  display: block;
  margin-top: 20px;
  color: red;
  font-size: 90%;
}
@media (min-width: 992px) {
  .formulario .msj-form {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.form-group {
  width: 100%;
  position: relative;
  height: 40px;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #333;
  flex-grow: 1;
}
@media (min-width: 480px) {
  .form-group {
    width: 48%;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .form-group {
    height: 70px;
  }
}
@media (min-width: 992px) {
  .form-group {
    height: 40px;
    width: 30%;
    margin: 5px;
  }
}
@media (min-width: 1600px) {
  .form-group {
    height: 40px;
  }
}
.form-group label {
  position: absolute;
  top: 10px;
  left: 1px;
  z-index: 2;
  cursor: pointer;
  font-weight: 500;
  color: #666;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
@media (min-width: 992px) {
  .form-group label {
    top: 8px;
  }
}
.form-group label.long-label {
  font-size: 80%;
}
@media (min-width: 992px) {
  .form-group label.long-label {
    font-size: 100%;
  }
}
@media (min-width: 992px) {
  .form-group label.label-col-right {
    left: 5px;
  }
}
.form-group label.on {
  font-size: 60%;
  top: -5px;
  z-index: 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.form-group input, .form-group select {
  z-index: 1;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 1px;
  width: 100%;
  border: 0;
  background: transparent;
  font-size: 100%;
}
@media (min-width: 480px) {
  .form-group input, .form-group select {
    height: 30px;
  }
}
@media (min-width: 768px) {
  .form-group input, .form-group select {
    height: 30px;
    bottom: 2px;
  }
}
@media (min-width: 992px) {
  .form-group input, .form-group select {
    height: 30px;
    bottom: 0px;
  }
}
.form-group input:focus, .form-group select:focus {
  outline: none;
}
.form-group .input-on {
  color: #333 !important;
}
.form-group input[type=number] {
  -moz-appearance: textfield;
}
.form-group input[type=number]::-webkit-inner-spin-button, .form-group input[type=number]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.form-group input[type=date] {
  -moz-appearance: textfield;
  color: transparent;
}
.form-group input[type=date]::-webkit-inner-spin-button, .form-group input[type=date]::-webkit-outer-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
.form-group input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}
.form-group input[type=date]::-webkit-datetime-edit-month-field {
  color: inherit;
}
.form-group input[type=date]::-webkit-datetime-edit-day-field {
  color: inherit;
}
.form-group input[type=date]::-webkit-datetime-edit-year-field {
  color: inherit;
}
.form-group .msj-error-input {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 60%;
  color: red;
  width: 55%;
  text-transform: lowercase;
  line-height: 110%;
  display: none;
}
.form-group .msj-error-input-background {
  top: -13px;
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}
.form-group .msj-error-input-col {
  right: 45px;
}

.form-group-full {
  width: 100%;
  height: 40px;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form-group-full {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .form-group-full {
    height: 30px;
  }
}

.newsletter-form {
  position: relative;
}
.newsletter-form legend {
  text-transform: uppercase;
}
.newsletter-form input {
  left: 1px;
}
.newsletter-form input[type=submit] {
  position: absolute;
  right: 2px;
  top: 15px;
  width: 20px;
  height: 20px;
  display: block;
  left: auto;
  cursor: pointer;
  bottom: auto;
}
@media (min-width: 992px) {
  .newsletter-form input[type=submit] {
    top: 5px;
  }
}

/*--------------------------------------------------------------
10.0 INICIO
--------------------------------------------------------------*/
/*
 * INICIO HEADER
*/
.header-inicio {
  position: relative;
  background-color: #75efd8;
  padding: 50px 0 80px;
}
@media (min-width: 768px) {
  .header-inicio {
    padding: 50px 0;
  }
}
.header-inicio .main-title-inicio {
  margin-bottom: 40px;
}
.header-inicio .main-title-inicio img {
  width: 80%;
}
@media (min-width: 480px) {
  .header-inicio .main-title-inicio img {
    width: 40%;
  }
}
@media (min-width: 992px) {
  .header-inicio .main-title-inicio img {
    width: 31%;
  }
}
@media (min-width: 1600px) {
  .header-inicio .main-title-inicio img {
    width: 480px;
  }
}
.header-inicio:after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
  background: url(../images/separador.png);
  height: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

/*
 * NOSOTROS
*/
#somosre {
  width: 100%;
  padding: 80px 0 40px;
}
@media (min-width: 768px) {
  #somosre {
    padding: 40px 0 40px;
  }
}
#somosre p {
  margin: 20px 0;
  font-size: 1.2em;
}
#somosre .super-parrafo {
  font-size: 1.5em;
  line-height: 1.3em;
}

/*
 * PROGRAMAS
*/
#programas {
  width: 100%;
  margin-bottom: 50px;
  margin-top: -40px;
}
@media (min-width: 768px) {
  #programas {
    margin-bottom: 100px;
  }
}

.btns-wrapper {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btns-wrapper li {
  width: 100%;
  margin-top: 10px;
  margin-right: 20px;
}
@media (min-width: 1250px) {
  .btns-wrapper li {
    width: initial;
  }
}

@media (min-width: 992px) {
  .front-reduce {
    width: 75%;
  }
}
@media (min-width: 1250px) {
  .front-reduce {
    width: 60%;
  }
}

/*
 * GALERIAS
*/
.galeria-box {
  position: relative;
  overflow: hidden;
  height: 350px;
  width: 100%;
}
@media (min-width: 768px) {
  .galeria-box {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .galeria-box {
    height: 400px;
  }
}
@media (min-width: 1250px) {
  .galeria-box {
    height: 450px;
  }
}
@media (min-width: 1600px) {
  .galeria-box {
    height: 500px;
  }
}

.contenido-boxes {
  position: relative;
  z-index: 2;
  width: 50%;
  left: 50%;
  padding-right: 30px;
  font-size: 60%;
}
@media (min-width: 768px) {
  .contenido-boxes {
    padding-right: 9%;
    font-size: 90%;
  }
}
@media (min-width: 992px) {
  .contenido-boxes {
    font-size: 100%;
  }
}

#experiencia {
  background-color: #ffe900;
}

#bonustrack {
  background-color: #ff006c;
  color: #fff;
}

#celebrities {
  background-color: #75efd8;
}

#fiesta15 {
  background-color: #fff;
}

/*
 * SEGURIDAD
*/
#seguridad {
  background-color: #75efd8;
  color: #fff;
}

/*
 * INSTRAGRAM
*/
#instagram .instagram-title {
  position: relative;
  font-size: 1.2em;
  line-height: 1.1em;
  font-weight: 500;
  margin: 10px 0 20px;
  padding-left: 40px;
}
#instagram .instagram-title:before {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  background-image: url(../images/icono-instagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

/*
 * TESTIMONIOS
*/
#testimonios {
  background-color: #ff006c;
  color: #fff;
}

/*
 * AGENCIAS
*/
.agencias {
  background-color: #ffe900;
  width: 100%;
  height: 350px;
}
@media (min-width: 768px) {
  .agencias {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .agencias {
    height: 400px;
  }
}
@media (min-width: 1250px) {
  .agencias {
    height: 450px;
  }
}
@media (min-width: 1600px) {
  .agencias {
    height: 500px;
  }
}

.map-wrapper {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  height: 350px;
}
@media (min-width: 768px) {
  .map-wrapper {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .map-wrapper {
    height: 400px;
  }
}
@media (min-width: 1250px) {
  .map-wrapper {
    height: 450px;
  }
}
@media (min-width: 1600px) {
  .map-wrapper {
    height: 500px;
  }
}

/*
 * SLIDERS: testimonios y seguridad
*/
.slider-wrapper {
  position: relative;
}
.slider-wrapper .slider-item {
  height: 350px;
}
@media (min-width: 768px) {
  .slider-wrapper .slider-item {
    height: initial;
  }
}
@media (min-width: 992px) {
  .slider-wrapper .slider-item {
    height: initial;
  }
}
.slider-wrapper .slider-item figure {
  position: relative;
  z-index: 1;
}
.slider-wrapper .slider-item figure .background {
  display: block;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: -moz-linear-gradient(left, rgba(51, 51, 51, 0.9) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(51, 51, 51, 0.9) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(51, 51, 51, 0.9) 0%, rgba(0, 0, 0, 0.4) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e6333333", endColorstr="#66000000",GradientType=1 );
  /* IE6-9 */
}
@media (min-width: 992px) {
  .slider-wrapper .slider-item figure .background {
    background: -moz-linear-gradient(left, rgba(51, 51, 51, 0.9) 0%, rgba(21, 21, 21, 0) 80%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(51, 51, 51, 0.9) 0%, rgba(21, 21, 21, 0) 80%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(51, 51, 51, 0.9) 0%, rgba(21, 21, 21, 0) 80%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e6333333", endColorstr="#00000000",GradientType=1 );
    /* IE6-9 */
  }
}
.slider-wrapper .slider-item figure img {
  width: auto;
  height: 100%;
}
@media (min-width: 768px) {
  .slider-wrapper .slider-item figure img {
    width: 100%;
    height: initial;
  }
}
.slider-wrapper .slider-item .slider-contenido {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  .slider-wrapper .slider-item .slider-contenido {
    width: 50%;
  }
}
.slider-wrapper .slider-item .slider-contenido h2 {
  margin-bottom: 5px;
}
.slider-wrapper .slider-item .comentario q {
  color: #fff;
  font-weight: 400;
  font-size: 1.1em;
}
.slider-wrapper .slider-item .comentario q:before {
  content: '"';
}
.slider-wrapper .slider-item .comentario q:after {
  content: '"';
}
.slider-wrapper .slider-item .comentario span {
  color: #ffe900;
  font-weight: 500;
  font-size: 0.9em;
  display: inline-block;
  margin-top: 10px;
}
.slider-wrapper .owl-nav {
  position: absolute;
  bottom: 20px;
  left: 9%;
  display: block;
  width: 100px;
  height: 30px;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
}
@media (min-width: 768px) {
  .slider-wrapper .owl-nav {
    right: 9%;
    left: initial;
  }
}
@media (min-width: 1250px) {
  .slider-wrapper .owl-nav {
    left: 9%;
    right: initial;
  }
}
.slider-wrapper .icon-arrow {
  display: block;
  width: 30px;
  height: 25px;
}
.slider-wrapper .icon-arrow-left {
  background: url(../images/next-blanco-izquierda.png) no-repeat;
  margin-right: 20px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.slider-wrapper .icon-arrow-left:hover {
  background: url(../images/next-gris-izquierda.png) no-repeat;
}
.slider-wrapper .icon-arrow-right {
  background: url(../images/next-blanco-derecha.png) no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.slider-wrapper .icon-arrow-right:hover {
  background: url(../images/next-gris-derecha.png) no-repeat;
}

/*
 * ENTREVISTA
*/
#entrevista {
  padding: 100px 0 0;
}
@media (min-width: 992px) {
  #entrevista {
    padding: 150px 0 100px;
  }
}

/*
 * TIPOGRAFIA
*/
.titulo-base {
  font-size: 1.8em;
  line-height: 1.2em;
  font-weight: 500;
  margin: 10px 0;
}

.texto-uppercase {
  text-transform: uppercase;
  font-size: 1.4em;
}
@media (min-width: 768px) {
  .texto-uppercase {
    font-size: 1.7em;
  }
}

.parrafo-separador {
  margin: 30px 0 20px;
  position: relative;
}
.parrafo-separador:before {
  content: "";
  display: block;
  height: 1px;
  width: 10px;
  background: #666;
  left: 0;
  top: -10px;
  position: absolute;
}

.parrafo-separador-blanco {
  margin: 30px 0 20px;
  position: relative;
}
.parrafo-separador-blanco:before {
  content: "";
  display: block;
  height: 1px;
  width: 10px;
  background: #fff;
  left: 0;
  top: -10px;
  position: absolute;
}

/*# sourceMappingURL=style.css.map */
