/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 HIT
6.0 FOOTER
7.0 NAV SUPERIOR
8.0 INICIO
9.0 FORMULARIO
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 0.9em;
    line-height: 1.5em;
    @media (min-width: $sm) {
        font-size: 1em;
    }
}

//contenedor global, inclusive, header y footer
.main-wrapper {
   position: relative; 
}

//contenedor paginas, todo salvo header y footer
.inner-wrapper {
    position: relative;
}

.section-wrapper {
    position: relative;
    clear: both;
    margin: 0;
    padding: 0;
}

.contenedor {
    padding: 0 30px;

    @media (min-width: $sm) {
        padding: 0 9%;
    }
}

/*--------------------------------------------------------------
5.0 hit
--------------------------------------------------------------*/

@import 'sass/hit';

/*--------------------------------------------------------------
6.0 footer
--------------------------------------------------------------*/

@import 'sass/footer';

/*--------------------------------------------------------------
7.0 NAV
--------------------------------------------------------------*/

@import 'sass/nav';

/*--------------------------------------------------------------
8.0 BTNS Y ANIMACIONES
--------------------------------------------------------------*/

@import 'sass/btns-animaciones';

/*--------------------------------------------------------------
9.0 FORMULARIO
--------------------------------------------------------------*/

@import 'sass/formulario';

/*--------------------------------------------------------------
10.0 INICIO
--------------------------------------------------------------*/

@import 'sass/inicio';