/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Reset
2.0 Fuentes
3.0 VARIABLES
4.0 GENERAL
5.0 HIT
6.0 FOOTER
7.0 NAV SUPERIOR
8.0 BTNS Y ANIMACIONES
9.0 FORMULARIO
10.0 INICIO
11.0 PAGES
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import 'sass/fonts';

/*--------------------------------------------------------------
3.0 variables
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 General
--------------------------------------------------------------*/

html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 1em;
    line-height: 1.5em;
    
}

//contenedor global, inclusive, header y footer
.main-wrapper {
   position: relative; 
}

//contenedor paginas, todo salvo header y footer
.inner-wrapper {
    position: relative;
}

.section-wrapper {
    position: relative;
    clear: both;
    margin: 0;
    padding: 40px 0;
}

.row {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

.wrapper-box {
    display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        @media (min-width: $md) {
            width: 50%;
        }
}

.main {
    position: relative;
}

.contenedor {
    padding: 0 30px;
    width: 100%;
    @media (min-width: $sm) {
        padding: 0 9%;
    }
}

.contenedor-left {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    @media (min-width: $sm) {
        padding-left: 19%;
        padding-right: 30px;
    }
}

.contenedor-right {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    @media (min-width: $sm) {
        padding-left: 30px;
        padding-right: 19%;
    }
}

.hr-separador {
    visibility: hidden;
    height: 10px;
}


/*--------------------------------------------------------------
5.0 hit
--------------------------------------------------------------*/

@import 'sass/hit';

/*--------------------------------------------------------------
6.0 footer
--------------------------------------------------------------*/

@import 'sass/footer';

/*--------------------------------------------------------------
7.0 NAV
--------------------------------------------------------------*/

@import 'sass/nav';

/*--------------------------------------------------------------
8.0 BTNS Y ANIMACIONES
--------------------------------------------------------------*/

@import 'sass/btns-animaciones';

/*--------------------------------------------------------------
9.0 FORMULARIO
--------------------------------------------------------------*/

@import 'sass/formulario';

/*--------------------------------------------------------------
10.0 INICIO
--------------------------------------------------------------*/

@import 'sass/inicio';

/*--------------------------------------------------------------
11.0 PAGES
--------------------------------------------------------------*/

@import 'sass/pages';