@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Source+Code+Pro:400,500');

/*@font-face {
    font-family: 'Minion Pro';
    src: local('Minion-pro'), local('Minion Pro'),
        url('../fonts/minionpro-regular.otf') format("opentype"),
        url('../fonts/minionpro-regular.ttf') format('truetype'),
        url('../fonts/minionpro-regular.woff') format('woff'),
        url('../fonts/minionpro-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Morganite Black';
    src: local('Morganite Black'), local('morganite-black'),
        url('../fonts/morganite-black.otf') format("opentype"),
        url('../fonts/morganite-black.ttf') format('truetype'),
        url('../fonts/morganite-black.woff') format('woff'),
        url('../fonts/morganite-black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
}*/

//@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,500');
//@import url('https://fonts.googleapis.com/css?family=Montserrat:300i,400');