/*
 * FORMULARIO
*/



.formulario {
    position: relative;
    padding: 0 0 40px 0;
    margin-bottom: 20px;

    legend {
        font-size: 1.2em;
    }

    .inner-wrapper-form {
        width: 100%;
        margin: 20px 0;
    }//.inner-wrapper-form

    .inner-wrapper-form-sm {
        @media (min-width: $md) {
            width: 67%;
        }
    }

    .form-row {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        -o-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .margin-left {
        @media (min-width: $md) {
            margin-left: .5em;
        }
    }
    
    .margin-right {
        @media (min-width: $md) {
            margin-right: .5em;
        }
    }

    .loader {
        display: none;
        background: rgba(0,0,0,0.2) url(../images/loader-espiral.gif) no-repeat center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-size: 20%;
        z-index: 111;
    }
    .msj-form {
        position: absolute;
        bottom: 0;
        color: red;
        font-size: 100%;
        @media (min-width: $md) {
            left: 50%;
            @include transform(translateX(-50%));
        }
    }
    
}//form

.form-group {
    width: 100%;
    position: relative;
    height: 40px;
    margin-bottom: .5em;
    border-bottom: 1px solid $color-negro;
    flex-grow: 1;
    @media (min-width: $xs) {
        width: 48%;
        margin: 0 1%;
    }
    @media (min-width: $sm) {
        height: 70px;
    }
    @media (min-width: $md) {
        height: 40px;
        width: 30%;
        margin: 5px 1%;
    }
    @media (min-width: $xlg) {
        height: 40px;
    }

    label {
        position: absolute;
        top: 10px;
        left: 1px;
        z-index:2;
        cursor: pointer;
        font-weight: 500;
        color: $color-gris;
        @include transition(all $transitionSpeedx2);
        @media (min-width: $md) {
            top: 8px;
        }
        @media (min-width: $xlg) {
            //top: 0;
        }
    }

    label.long-label {
        font-size: 80%;
        @media (min-width: $md) {
            font-size: 100%;
        }
    }

    label.label-col-right {
        @media (min-width: $md) {
            left: 5px;
        }
    }

    //cuando el input está en focus o tiene contentenido la etiqueta se achica
    label.on {
        font-size: 60%;
        top: -5px;
        z-index:0;
        @include transition(all $transitionSpeedx2);
    }
    input, select {
        z-index:1;
        height: 25px;
        position: absolute;
        bottom: 0;
        left: 7px;
        width: 100%;
        border: 0;
        background: transparent;
        font-size: 100%;
        @media (min-width: $xs) {
            height: 30px;
        }
        @media (min-width: $sm) {
            height: 30px;
            bottom: 2px;
        }
        @media (min-width: $md) {
            height: 30px;
            bottom: 0px;
        }

        &:focus {
            outline: none;
        }
    }


    //input con contenido escrito
    .input-on {
        color: $color-negro!important;
    }

    input[type=number] {
        -moz-appearance:textfield;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
            appearance: none; 
            -webkit-appearance: none; 
            margin: 0; 

        }
    }

    input[type=date] {
        -moz-appearance:textfield;
        color: transparent;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
            appearance: none; 
            -webkit-appearance: none; 
          margin: 0; 
        }

        &::-webkit-calendar-picker-indicator {
            display:none;
        }

        &::-webkit-datetime-edit-month-field {
            color: inherit
        }
        &::-webkit-datetime-edit-day-field {
            color: inherit
        }
        &::-webkit-datetime-edit-year-field {
            color: inherit;
        }
    }

    .msj-error-input {
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 60%;
        color: red;
        width: 55%;
        text-transform: lowercase;
        line-height: 110%;
        display:none;
    }

    .msj-error-input-background {
        top: -13px;
        padding: 3px;
        background-color: rgba(255,255,255,0.5);
    }
    .msj-error-input-col {
        right: 45px;
    }

}//.form-group 


.form-group-full {
    width: 100%;
    height: 40px;
    width: 80%;
    margin: 0 auto;

    @media (min-width: $sm) {
        margin: 0;
    }

    @media (min-width: $md) {
        height: 30px;
        
    }
}//.form-group 

.newsletter-form {
    position: relative;

    legend {
        text-transform: uppercase;
    }

    input {
        left: 1px;
    }
    input[type=submit] {
        position: absolute;
        right: 2px;
        top: 15px;
        width: 20px;
        height: 20px;
        display: block;
        left: auto;
        cursor: pointer;
        bottom: auto;

        @media (min-width: $md) {
            top: 5px;
        }
    }
}
