/*
 * INICIO HEADER
*/
.header-inicio {
    position: relative;
    z-index: 1;
    background-color: #75efd8;
    padding: 40px 0 70px;

    //protege la imagen por la altura
    @media (min-width: '400px') and (min-height: '650px') {
        padding: 40px 0 30px;
    }

    @media (min-width: $sm) {
        padding: 50px 0;
    }

    .main-title-inicio {
        position: relative;
        z-index: 111;
        margin-bottom:30px;
        @include transition(all $transitionSpeed);

        @media (min-width: $sm) {
            margin-bottom:40px;
        }

        img {
            width: 80%;
            @media (min-width: $xs) {
                width: 40%;
            }
            @media (min-width: $md) {
                width: 31%;
            }
            @media (min-width: $xlg) {
                width: 480px;
            }
        }
    }//.main-title-inicio

    &:after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        bottom: -14px;
        left: 0;
        background: url(../images/separador.png);
        height: 15px;
        background-repeat: repeat-x;
        background-size: contain;
        background-position: top;
        @media (min-width: $lg) {
            bottom: -13px;
        }
    }

    .header-image-wrapper {
        position: absolute;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        display: none;
    }

    .header-image {
        position: absolute;
        z-index: 1;
        display: block;
        width: 100%;
        top: 0;
        left: 0;

    }//.header-image
    
    .corazon-inicio {
        position: absolute;
        z-index: 11;
        display: block;
        width: 150px;
        bottom: -50px;
        right: 0;
        display: none;

        @media (min-width: $sm) {
            width: 35%;
            max-width: 645px;
            bottom: -100px;
        }
        @media (min-width: $md) {
            bottom: -140px;
        }
        @media (min-width: $lg) {
            bottom: -170px;
        }
        @media (min-width: $xlg) {
            bottom: -230px;
        }

    }//.corazon-inicio

    button {
        z-index: 22;
    }

}//.header-inicio

.header-inicio-tablet {
    @media (min-width: $sm) and (max-width: $md){
        padding: 10px 0;
    }
}

/*
 * NOSOTROS
*/
#somosre {
    width: 100%;
    padding: 80px 0 40px;
    @media (min-width: $sm) {
        padding: 200px 0 80px;
    }

    p {
        margin: 20px 0;
        font-size: 1em;
        line-height: 1.3em;
        @media (min-width: $sm) {
            font-size: 1.2em;
        }
        @media (min-width: $md) {
            font-size: 1.5em;
        }
    }

    .super-parrafo {
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: 300;
        
        @media (min-width: $md) {
            font-size: 2.5em;
            line-height: 1.3em;
            letter-spacing: -1px;
        }
        @media (min-width: $xlg) {
            font-size: 2.9em;
        }
    }
}

/*
 * PROGRAMAS
*/
#programas {
    width: 100%;
    margin-bottom: 50px;
    margin-top: -40px;
    @media (min-width: $sm) {
        margin-bottom: 100px;
    }
}

.btns-wrapper {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    li {
        width: 100%;
        margin-top: 10px;
        margin-right: 20px;
        @media (min-width: $lg) {
            width: initial;
        }
    }
}

.front-reduce {
    @media (min-width: $md) {
        width: 75%;
    }
    @media (min-width: $lg) {
        width: 60%;
    }
    @media (min-width: $xlg) {
        width: 60%;
    }
}

/*
 * GALERIAS
*/
.galeria-box {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 230px;
    
    @media (min-width: $xs) {
        height: 320px;
    }

    @media (min-width: $sm) {
        width: 50%;
        height: 350px;
    }
    @media (min-width: $md) {
        height: 400px;
    }
    @media (min-width: $lg) {
        height: 450px;
    }
    @media (min-width: $xlg) {
        height: 500px;
        //padding: 200px 0;
    }
}

.contenido-boxes {
    position: relative;
    z-index: 2;
    width: 50%;
    left: 50%;
    padding-right:30px;
    font-size: 60%;

    @media (min-width: $sm) {
        padding-right:9%;
        font-size: 90%;
    }
    @media (min-width: $md) {
        font-size: 100%;
    }
}

.image-boxes {
    position: absolute;
}

#experiencia {
    background-color: #ffe900;
    
    .image-boxes{
        max-width: 300px;
        width: 45%;
        left: 2%;
        top: 45%;
        @include transform (translateY(-50%));
        
        @media (min-width: $xlg) {
            left: 5%;
        }
    }
}

#bonustrack {
    background-color: #ff006c;
    color: $color-blanco;
    
    .image-boxes{
        bottom: -30px;
        width: 70%;
        left: -50px;
        max-width: 425px;

        @media (min-width: $xs) {
            width: 60%;
        }

        @media (min-width: $sm) {
            bottom: -10px;
            width: 70%;
            left: -50px;
        }
        @media (min-width: $md) {
            bottom: -20px;
            width: 60%;
            left: -10px;
        }
    }
}

#celebrities {
    background-color: #75efd8;

    .image-boxes{
        bottom: -50px;
        width: 65%;
        left: -30px;
        max-width: 439px;

        @media (min-width: $xs) {
            bottom: -100px;
            width: 65%;
            left: -60px;
        }
        @media (min-width: $sm) {
            bottom: -50px;
            width: 70%;
            left: -40px;
        }
        @media (min-width: $md) {
            left: -10%;
        }
        @media (min-width: $lg) {
            bottom: -15%;
        }
        @media (min-width: $xlg) {
            left: -5%;
            bottom: -15%;
        }

    }
}

#fiesta15 {
    background-color: #fff;

    .image-boxes{
        max-width: 222px;
        width: 45%;
        top: 50%;
        left: 2%;
        @include transform (translateY(-50%));

        @media (min-width: $lg) {
            left: 10%;
        }
        @media (min-width: $xlg) {
            left: 15%;
        }
    }

    .span-confeti {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background-image: url(../images/confeti-box.png);
        
        background-repeat: no-repeat;
        background-position: left center;
        width: 60%;
        height: 100%;

        @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
            background-image: url(../images/confeti-box@2x.png);
            background-size: contain;
        }
    }
}


/*
 * SEGURIDAD
*/
#seguridad {
    position: relative;
    background-color: #75efd8;
    color: $color-blanco;
}//#seguridad

/*
 * INSTRAGRAM
*/
#instagram {
    position: relative;

    .instagram-title {
        position: relative;
        font-size: 1.2em;
        line-height: 1.1em;
        font-weight: 500;
        margin: 10px 0 20px;
        padding-left: 40px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -8px;
            left: 0;
            width: 30px;
            height: 30px;
            background-image: url(../images/icono-instagram.png);
            background-size: 30px 30px;
            background-repeat: no-repeat;
            background-position: center;

            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(../images/icono-instagram@2x.png);
                background-size: 30px 30px;
            }
        }
    }

}//#instagram

#instagram-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;

    .sello-rojo {
        display: none;
        position: absolute;
        bottom: 0;
        right: -20px;
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/sello-rojo.png);
        background-size: cover;

        @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
            background-image: url(../images/sello-rojo@2x.png);
            background-size: cover;
        }

        @media (min-width: $md) {
            bottom: -20px;
        }
        
    }
}

/*
 * TESTIMONIOS
*/
#testimonios {
    position: relative;
    background-color: #ff006c;
    color: $color-blanco;
}//#testimonios

/*
 * AGENCIAS
*/
.agencias {
    background-color: #ffe900;
    position: relative;
    width: 100%;
    height: 350px;
    @media (min-width: $sm) {
        width: 50%;
    }
    @media (min-width: $md) {
        height: 400px;
    }
    @media (min-width: $lg) {
        height: 450px;
    }
    @media (min-width: $xlg) {
        height: 500px;
    }
}//.agencias

.map-wrapper {
    background-color: $color-negro;
    overflow: hidden;
    width: 100%;
    height: 350px;
    @media (min-width: $sm) {
        width: 50%;
    }
    @media (min-width: $md) {
        height: 400px;
    }
    @media (min-width: $lg) {
        height: 450px;
    }
    @media (min-width: $xlg) {
        height: 500px;
    }
    
}//.map-wrapper

/*
 * SLIDERS: testimonios y seguridad
*/
.slider-wrapper {
    position: relative;
    
    .slider-item {
        height: 350px;
        @media (min-width: $sm) {
            height: initial;
        }
        @media (min-width: $md) {
            height: initial;
        }

        figure {
            position: relative;
            z-index: 1;

            .background {
                display: block;
                z-index: 1;
                width: 100%;
                height: 100%;
                position: absolute;
                background: -moz-linear-gradient(left, rgba(51,51,51,0.9) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(51,51,51,0.9) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(51,51,51,0.9) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6333333', endColorstr='#66000000',GradientType=1 ); /* IE6-9 */

                @media (min-width: $md) {
                    background: -moz-linear-gradient(left, rgba(51,51,51,0.9) 0%, rgba(21,21,21,0) 80%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(left, rgba(51,51,51,0.9) 0%,rgba(21,21,21,0) 80%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to right, rgba(51,51,51,0.9) 0%,rgba(21,21,21,0) 80%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6333333', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
                }
            }

            img {
                width: auto;
                height: 100%;
                @media (min-width: $sm) {
                    width: 100%;
                    height: initial;
                }
            }
        }

        .slider-contenido {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: flex-start;
            -moz-align-items: flex-start;
            -ms-align-items: flex-start;
            -o-align-items: flex-start;
            align-items: flex-start;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;

            @media (min-width: $md) {
                width: 50%;
            }

            h2 {
                margin-bottom: 5px;
            }
        }

        .comentario {
            q {
                color: $color-blanco;
                font-weight: 400;
                font-size: 1.1em;
                &:before {
                    content: '"';
                }
                &:after {
                    content: '"';
                }
            }

            span {
                color: #ffe900;
                font-weight: 500;
                font-size: .9em;
                display: inline-block;
                margin-top: 10px;
            }
        }

    }//.slider-item

    .owl-nav {
        position: absolute;
        bottom: 20px;
        left: 9%;
        display: block;
        width: 100px;
        height: 30px;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;

        @media (min-width: $sm) {
            right: 9%;
            left: initial;
        }
        @media (min-width: $md) {
            left: 9%;
            right: initial;
            bottom: 10px;
        }
        @media (min-width: $lg) {
            bottom: 20px;
        }
    }

    .icon-arrow {
        display: block;
        width: 30px;
        height: 25px;
    }

    .icon-arrow-left {
        background-image: url(../images/next-blanco-izquierda.png);
        background-size: 29px 23px;
        background-repeat: no-repeat;
        margin-right: 20px;
        @include transition(all $transitionSpeed);

        @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
            background-image: url(../images/next-blanco-izquierda@2x.png);
            background-size: 22px 21px;
        }
        
        &:hover {
            background-image: url(../images/next-gris-izquierda.png);
            background-size: 26px 21px;
            background-repeat: no-repeat;

            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(../images/next-gris-izquierda@2x.png);
                background-size: 22px 21px;
            }
        }
    }

    .icon-arrow-right {
        background-image: url(../images/next-blanco-derecha.png);
        background-size: 27px 23px;
        background-repeat: no-repeat;
        @include transition(all $transitionSpeed);

        @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
            background-image: url(../images/next-blanco-derecha@2x.png);
            background-size: 22px 21px;
        }
        
        &:hover {
            background-image: url(../images/next-gris-derecha.png);
            background-size: 27px 21px;
            background-repeat: no-repeat;

            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(../images/next-gris-derecha@2x.png);
                background-size: 22px 21px;
            }
        }
    }

}//.slider-wrapper


/*
 * ENTREVISTA
*/
#entrevista {
    padding: 100px 0 0;
    @media (min-width: $md) {
        padding: 150px 0 100px;
    }
}

/*
 * TIPOGRAFIA
*/
.titulo-base {
    font-size: 1.8em;
    line-height: 1.2em;
    font-weight: 500;
    margin: 10px 0;

    @media (min-width: $lg) {
        font-size: 2em;
    }
    @media (min-width: $xlg) {
        font-size: 2.2em;
    }
}

.texto-uppercase {
    text-transform: uppercase;
    font-size: 1.4em;
    @media (min-width: $sm) {
        font-size: 1.7em;
    }
}

.parrafo-separador {
    margin: 30px 0;
    position: relative;
    @media (min-width: $lg) {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    &:before {
        content: '';
        display: block;
        height: 1px;
        width: 10px;
        background: #666;
        left: 0;
        top: -10px;
        position: absolute;
    }
}

.parrafo-separador-blanco {
    margin: 30px 0;
    position: relative;
    @media (min-width: $lg) {
        font-size: 1.2em;
        line-height: 1.5em;
    }

    &:before {
        content: '';
        display: block;
        height: 1px;
        width: 10px;
        background: #fff;
        left: 0;
        top: -10px;
        position: absolute;
    }
}

.text-center {
    text-align: center;
    width: 100%;
}

.text-blanco {
    color: $color-blanco;
}

/*
 * VERTICALES Y DECORADOS
*/
.deco-corazon-boxes {
    position: absolute;
    z-index: 11;
    top: 20px;
    left: 20px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/corazon-boton-gris.png);
    background-size: 16px 14px;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
        background-image: url(../images/corazon-boton-gris@2x.png);
        background-size: 16px 14px;
    }

    @media (min-width: $sm) {
        top: 30px;
        left: 30px;
    }
}

.deco-corazon-boxes-blanco {
    background-image: url(../images/corazon-boton-blanco.png);
    background-size: 17px 16px;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
        background-image: url(../images/corazon-boton-blanco@2x.png);
        background-size: 17px 16px;
    }
}

.corazon-header {
    position: absolute;
    z-index: 11;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/corazon-blanco.png);
    background-size: 50px 43px;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
        background-image: url(../images/corazon-blanco@2x.png);
        background-size: 50px 43px;
    }

    @media (min-width: $sm) {
        top: 30px;
        right: 30px;
    }
}

.corazon-header-gris {
    position: absolute;
    z-index: 11;
    top: 20px;
    left: 20px;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/corazon-boton-gris.png);
    background-size: 16px 14px;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
        background-image: url(../images/corazon-boton-gris@2x.png);
        background-size: 16px 14px;
    }

    @media (min-width: $sm) {
        top: 30px;
        left: 30px;
    }
}

.linea-vertical-header {
    position: absolute;
    z-index: 11;
    top: 60px;
    left: 39.5px;
    width: 100px;
    background-color: $color-negro;
    height: 1px;
    letter-spacing: .1em;
    @include transform(rotate(90deg));
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    @include transition(all $transitionSpeed);
    display: none;
    @media (min-width: $md) {
        display: block;
    }
}

.deco-corazon-seguridad {
    position: absolute;
    z-index: 11;
    bottom: -25px;
    right: 10px;
    width: 74px;
    height: 71px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/corazones-seguridad.png);
    background-size: cover;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
        background-image: url(../images/corazones-seguridad@2x.png);
        background-size: cover;
    }

    @media (min-width: $md) {
        bottom: -80px;
        right: 20px;
        width: 184px;
        height: 201px;
    }
}//.deco-corazon-seguridad

.texto-vertical {
    position: absolute;
    z-index: 11;
    bottom: 10px;
    left: 30px;
    color: $color-negro;
    text-transform: uppercase;
    font-family: $fuente-secundaria;
    font-size: .9em;
    font-weight: 500;
    letter-spacing: .1em;
    @include transform(rotate(-90deg));
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    @include transition(all $transitionSpeed);
    display: none;
    @media (min-width: $md) {
        display: block;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        right: -55px;
        bottom: 9px;
        width: 50px;
        height: 1px;
        background-color: $color-negro;
    }
}

.texto-vertical-blanco {
    color: $color-blanco;
    &:after {
        background-color: $color-blanco;
    }
}

.lista-vertical {
    position: absolute;
    z-index: 11;
    bottom: 21%;
    left: 30px;
    color: $color-negro;
    text-transform: uppercase;
    font-family: $fuente-secundaria;
    font-size: .9em;
    font-weight: 500;
    letter-spacing: .1em;
    @include transform(rotate(-90deg));
    -webkit-transform-origin: 0 0 0;
    -moz-transform-origin: 0 0 0;
    -ms-transform-origin: 0 0 0;
    -o-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    @include transition(all $transitionSpeed);
    display: none;
    @media (min-width: $md) {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
    }
    @media (min-width: $lg) {
        bottom:18%;
    }
    @media (min-width: $xlg) {
        bottom:14%;
    }

    li {
        margin-right: 7px;
    }

    .lista-vertical-separador {
        display: block;
        width: 50px;
        height: 1px;
        background-color: $color-negro;
        position: relative;
        top: 8px;
    }
}

.imagen-formulario {
    position: absolute;
    width: 20%;
    max-width: 393px;
    top: 55%;
    right: 9%;
    @include transform(translateY(-50%));
    display: none;
    @media (min-width: $md) {
        display: block;
        width: 25%;
    }
    @media (min-width: $lg) {
        top: 20%;
        width: 30%;
        right: 4%;
    }
    @media (min-width: $xlg) {
        right: 9%;
    }
}



.valija-wrapper {
    display: none;
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 450px;
    height: 500px;
    overflow: hidden;
    
    @media (min-width: $md) {
        display: block;
    }

    @media (min-width: $lg) {
        display: block;
        overflow: visible;
        bottom: 40px;
    }

    @media (min-width: $xlg) {
        right: 6%;
        bottom: 60px;
    }

    .confeti {
        position: relative;
        z-index: 1;
        top: 80px;
        width: 360px;
        left: 60px;
        @media (min-width: $md) {
            top: 50px;
            width: 400px;
            left: 0;
        }
        @media (min-width: $lg) {
            top: -50px;
            width: 340px;
        }
    }//.confeti
    
    
    .numero {
        position: absolute;
        z-index: 11;
        top: 123px;
        right: 27%;
        width: 192px;
        @media (min-width: $md) {
            top: 90px;
            right: 30%;
            width: 192px;
        }
        @media (min-width: $lg) {
            top: 20px;
            right: 30%;
            width: 222px;
        }
    }//.numero
    
    .corazon {
        position: absolute;
        z-index: 111;
        top: 242px;
        right: 110px;
        width: 89px;
        @media (min-width: $md) {
            top: 206px;
            right: 140px;
            width: 99px;
        }
        @media (min-width: $lg) {
            top: 165px;
            right: 93px;
            width: 109px;
        }
    }//.corazon

    .valija {
        position: absolute;
        z-index: 1111;
        bottom: 0;
        left: 120px;
        width: 150px;
        @media (min-width: $md) {
            bottom: 0;
            left: 70px;
            width: 170px;
        }
        @media (min-width: $lg) {
            bottom: 0;
            left: 70px;
            width: 200px;
        }
    }//.valija

}//.valija-wrapper

//triangulo amarillo debajo del header
.deco-amarillo {
    position: absolute;
    z-index: 1;
    bottom: -150px;
    right: 0;
    border-right: 150px solid $color-amarillo;
    border-top: 0 solid transparent;
    border-bottom: 150px solid transparent; 

    @media (min-width: $sm) {
        bottom:-250px;
        border-right-width: 250px;
        border-bottom-width: 250px;
    }
    @media (min-width: $md) {
        bottom:-350px;
        border-right-width: 350px;
        border-bottom-width: 350px;
    }
    @media (min-width: $lg) {
        bottom:-450px;
        border-right-width: 450px;
        border-bottom-width: 450px;
    }
    @media (min-width: $xlg) {
        bottom: -600px;
        border-right-width: 600px;
        border-bottom-width: 600px;
    }
}