/*
* BARRA SUPERIOR
*/
.sup-nav-wrapper {
    background-color: #353a34;
    height: 35px;
    padding-left: 10px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;

    @media (min-width: $sm) {
        height: 40px;
    }

    .call-center {
        position: relative;
        color: $color-amarillo;
        text-transform: uppercase;
        font-weight: 500;
        padding-left: 25px;

        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 18px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../images/icono-call.png);
            background-size: 17px 16px;

            /*@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(../images/icono-call@2x.png);
                background-size: 17px 16px;
            }*/
        }

        &:hover {
            zoom: 1;
            filter: alpha(opacity=80);
            opacity: 0.8;
          }
    }//.call-center

    .sup-nav {
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        padding-right: 5px;

        a {
            display: block;
            width: 15px;
            height: 16px;
            background-repeat: no-repeat;
            background-position: center;
            padding: 0 12px;

            &:hover {
                zoom: 1;
                filter: alpha(opacity=80);
                opacity: 0.8;
              }
        }

        .a-agencias {
            border-right: 1px solid #999;
            position: relative;
            margin-right: 5px;
            background-image: url(../images/icono-agencia.png);
            background-size: 12px 15px;

            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(../images/icono-agencia@2x.png);
                background-size: 13px 15.5px;
            }

            @media (min-width: $sm) {
                position: relative;
                padding-right: 235px;
            }
        }

        .a-facebook {
            background-image: url(../images/facebook.png);
            background-size: 12px 12px;
            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(../images/facebook@2x.png);
                background-size: 14px 13px;
            }
        }

        .a-instagram {
            background-image: url(../images/instagram.png);
            background-size: 13px 12px;
            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(../images/instagram@2x.png);
                background-size: 12.5px 12.5px;
            }
        }


        .agencias-button {//span texto boton
            display: none;
            @media (min-width: $sm) {
                display: block;
                position: absolute;
                text-align: right;
                right: 10px;
                text-transform: uppercase;
                font-size: 75%;
                line-height: 180%;
                color: #ccc;
                font-weight: 500;
            }
        }

    }//.sup-nav
}//.sup-nav-wrapper

/*
* MAIN NAV
*/

.main-nav-wrapper {
    position: relative;
    z-index: 22;
    height: 40px;
    background-color: #fff;
    padding: 0 10px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;


    .brand-name {
        height: 35px;
        width: 35px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../images/logo-menu-bar.png);
        background-size: 31px 30px;
        @include transition(all $transitionSpeed);

        @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
            background-image: url(../images/logo-menu-bar@2x.png);
            background-size: 33px 33px;
        }

        &:hover {
            zoom: 1;
            filter: alpha(opacity=80);
            opacity: 0.8;
        }
    }

    .toggle {
        position: relative;
        z-index: 11;
        cursor: pointer;
        display: block;
        border: none;
        height: 40px;
        width: 40px;
        background-color: transparent;
        @include transition(all $transitionSpeed);

        @media (min-width: $md) {
            display: none;
        }

        &:focus {
            border: none;
            outline: none;
        }

        .tog1 {
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: $color-negro;
            position: absolute;
            left: 5px;
            top: 10px;
            @include transition(all $transitionSpeedx2);
        }
        
        .tog2 {
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: $color-negro;
            position: absolute;
            left: 10px;
            top: 20px;
            @include transition(all $transitionSpeedx2);
        }
          
        .tog3 {
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: $color-negro;
            position: absolute;
            left: 5px;
            top: 30px;
            @include transition(all $transitionSpeedx2);
        }

    }//.toggle

    .toggle:hover .tog2 {
        left: 5px;
      }
      
    .toggle-open .tog2 {
    display: none;
    }
    .toggle-open .tog1 {
        @include transform(rotate(45deg));
        top: initial;
    }
    .toggle-open .tog3 {
        @include transform(rotate(-45deg));
        top: initial;
    }

    .main-menu {
        width: 100%;
        height: 0;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        top: 40px;
        background-color: $color-blanco;
        left: 0;
        
        @media (min-width: $md) {
            height: 100%;
            overflow: visible;
            position: relative;
            z-index: 1;
            top: 0;
            left: 0;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: flex-end;
            -moz-justify-content: flex-end;
            -ms-justify-content: flex-end;
            -o-justify-content: flex-end;
            justify-content: flex-end;
        }

        li {
            padding: 5px 20px;
            margin: 5px 0;

            &:first-child {
                margin-top: 20px;
                @media (min-width: $md) {
                    margin-top: 0;
                }
            }

            @media (min-width: $md) {
                margin: 0;
                padding: 5px 10px;
            }

            a {
                display: block;
                text-transform: uppercase;
                font-size: 1em;
                font-weight: 500;
                text-align: center;

                @media (min-width: $md) {
                    font-size: .7em;
                }

                &:hover {
                    zoom: 1;
                    filter: alpha(opacity=80);
                    opacity: 0.8;
                }
            }
        }

    }//.main-menu

}//.main-nav-wrapper