.header-pages {
    position: relative;
    z-index: 1;
    padding: 60px 0 40px;
    color: $color-blanco;
    background: rgb(83,83,83); /* Old browsers */
    background: -moz-linear-gradient(left, rgb(83,83,83) 0%, rgb(135,135,135) 50%, rgb(147,147,147) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgb(83,83,83) 0%,rgb(135,135,135) 50%,rgb(147,147,147) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgb(83,83,83) 0%,rgb(135,135,135) 50%,rgb(147,147,147) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535353', endColorstr='#939393',GradientType=1 ); /* IE6-9 */

    @media (min-width: $sm) {
        padding: 150px 0 40px;
    }
    @media (min-width: $lg) {
        padding: 200px 0 40px;
    }


    h1 {
        color: $color-blanco; 
    }

    p {
        width: 100%;
        @media (min-width: $sm) {
            width: 50%;
        }
        @media (min-width: $md) {
            width: 40%;
        }
        @media (min-width: $lg) {
            width: 30%;
        }
        a {
            display: inline-block;
            margin-top: 30px;
            &::before {
                content: '<';
            }
        }
    }

    .header-image-wrapper {
        position: absolute;
        z-index: 0;
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
        display: none;

        .background-degradado-images {
            @media (min-width: $sm) {
                display: block;
                z-index: 11;
                width: 100%;
                height: 100%;
                position: absolute;
                background: -moz-linear-gradient(left, rgba(51,51,51,0.9) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(51,51,51,0.9) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(51,51,51,0.9) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6333333', endColorstr='#66000000',GradientType=1 ); /* IE6-9 */
            }
            @media (min-width: $md) {
                background: -moz-linear-gradient(left, rgba(51,51,51,0.9) 0%, rgba(21,21,21,0) 80%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(left, rgba(51,51,51,0.9) 0%,rgba(21,21,21,0) 80%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to right, rgba(51,51,51,0.9) 0%,rgba(21,21,21,0) 80%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6333333', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
            }
        }
    }

    .header-image {
        position: absolute;
        z-index: 1;
        display: block;
        width: 100%;
        top: 0;
        left: 0;

        
    }//.header-image
    
    .corazon-header-usa {
        position: absolute;
        z-index: 11;
        display: block;
        width: 150px;
        bottom: -50px;
        right: 0;
        display: none;

        @media (min-width: $sm) {
            width: 35%;
            max-width: 645px;
            bottom: -100px;
        }
        @media (min-width: $md) {
            bottom: -140px;
        }
        @media (min-width: $lg) {
            bottom: -170px;
        }
        @media (min-width: $xlg) {
            bottom: -230px;
        }

    }//.corazon-inicio

}//.header-pages


.error {
    height: 250px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;

    p {
        font-size: 1.5em;
        line-height: 1.2em;
    }
}


.main-wrapper-galerie {
    clear: both;
    position: relative;
    padding: 50px 0;

    .categorias-wrapper {
        padding: 20px 0;
        .categorias {
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            -o-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;
            li {
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }
    }//.categorias-wrapper

    .galerias-wrapper {
        margin: 20px 0;
        position: relative;
        @include transition(all $transitionSpeed);

        .galerias {
            width: 100%;
            display: flex;
            display: -o-flex;
            display: -ms-flex;
            display: -moz-flex;
            display: -webkit-flex;
            -webkit-align-items: center;
            -moz-align-items: center;
            -ms-align-items: center;
            -o-align-items: center;
            align-items: center;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            -o-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            -o-flex-wrap: wrap;
            flex-wrap: wrap;

            li {
                overflow: hidden;
                width: 100%;
                height: 250px;
                @include transition(all $transitionSpeed);

                @media (min-width: $xs) {
                    width: 100%;
                    height: 508px;
                }
                @media (min-width: $sm) {
                    width: 50%;
                    height: 310px;
                }
                @media (min-width: $md) {
                    width: 33.333%;
                    height: 280px;
                }
                @media (min-width: $lg) {
                    width: 25%;
                    height: 270px;
                }
                @media (min-width: $xlg) {
                    width: 20%;
                    height: 304px;
                }

            }//li

            

        }//.galerias

        .sello-rojo {
            display: block;
            position: absolute;
            z-index: 11;
            bottom: -25px;
            right: -25px;
            width: 50px;
            height: 50px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../images/sello-rojo.png);
            background-size: cover;
            animation-name: giro-sello;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
    
            @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-resolution: 240dpi) {
                background-image: url(../images/sello-rojo@2x.png);
                background-size: cover;
            } 
        }//.sello-rojo

    }//.galerias-wrapper

}//.wrapper-galeria

.galeria-article {
    width: 101%;
    height: 101%;
    cursor: pointer;
    @include transition(all $transitionSpeed);

    &:hover {
        .imagen-galeria {
            @include transform(scale(1.2) rotate(10deg));
        }    
    }

    .imagen-galeria {
        @include transition(all $transitionSpeed);
        height: 100%;
    }

    .contenido-galeria {
        display: none;
        h1 {}
        p {}
    }

    .contenido-galeria-oculto {
        display: none;
    }
}//.galeria-article

.popup-gallery-wrapper {
    position: absolute;
    z-index: 1111;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    @include transition(all $transitionSpeed);

    .contenedor {
        height: 100%;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
    }

    #contenedor-popup-gallery {
        position: relative;
        @include transition(all $transitionSpeed);
        background-color: $color-verde;
        width: 100%;
        min-height: 350px;
        display: flex;
        display: -o-flex;
        display: -ms-flex;
        display: -moz-flex;
        display: -webkit-flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -o-justify-content: center;
        justify-content: center;
        padding: 30px;

        .loader {
            position: absolute;
            z-index: 22;
        }

        .inner-wrapper-gallery {
            width: 100%;
            height: 100%;

            .owl-carousel {
                .item-video {
                    height: 350px;
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-justify-content: center;
                    -moz-justify-content: center;
                    -ms-justify-content: center;
                    -o-justify-content: center;
                    justify-content: center;
                }

                .owl-nav  {
                    position: absolute;
                    bottom: -70px;
                    left: 0;
                    display: flex;
                    display: -o-flex;
                    display: -ms-flex;
                    display: -moz-flex;
                    display: -webkit-flex;
                    -webkit-align-items: center;
                    -moz-align-items: center;
                    -ms-align-items: center;
                    -o-align-items: center;
                    align-items: center;
                    -webkit-justify-content: space-between;
                    -moz-justify-content: space-between;
                    -ms-justify-content: space-between;
                    -o-justify-content: space-between;
                    justify-content: space-between;

                    .owl-prev {
                        margin-right: 10px;
                    }

                    .owl-next {
                        margin-left: 10px;
                    }

                    .icon-arrow {
                        width: 19px;
                        height: 15px;                    
                        display: block;
                        background-position: center;
                        background-size: cover;
                    }

                    .icon-arrow-left {
                        background-image: url(../images/arrow-left.png);
                    }

                    .icon-arrow-right {
                        background-image: url(../images/arrow-right.png);
                    }
                }
            }
            
            /*.fixed-video-aspect {
                    position: relative;
              }

            .fixed-video-aspect:before {
                display: block;
                content: "";
                width: 100%;
                padding-top: 56.25%;
            }
            .fixed-video-aspect > .item-video {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }*/
        }
    }

    #close-gallery {
        cursor: pointer;
        padding: 10px 20px;
        padding-right: 40px;
        position: absolute;
        top: -40px;
        right: 0;
        color: $color-blanco;

        .close-item {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 2px;
            right: 0;
            .close1 {
                width: 20px;
                height: 1px;
                top: 15px;
                right: 5px;
                background-color: $color-blanco;
                position: absolute;
                @include transform(rotate(-45deg));
            }
            .close2 {
                width: 20px;
                height: 1px;
                top: 15px;
                right: 5px;
                background-color: $color-blanco;
                position: absolute;
                @include transform(rotate(45deg));
            }
        }

        &:hover {
            zoom: 1;
            filter: alpha(opacity=80);
            opacity: 0.8;
          }
    }

    
}//.popup-gallery-wrapper