/*FUENTES*/
$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Source Code Pro', monospace;
/*$fuente-tercera: 'Minion Pro', $fuente-principal;
$fuente-cuarta: 'Morganite Black', $fuente-principal;*/

/*COLORES*/
$color-blanco: #fff;
$color-negro: #333;
$color-gris: #666;
$color-amarillo:#ffe900;
$color-verde:#75efd8;
$color-rojo: #ff006c;

$transitionSpeed:.5s;
$transitionSpeedx2: 1s;

/*GRID OPTIONS*/
$xs: 480px; //<576px
$sm: 768px; //<768px
$md: 992px; //<992px
$lg: 1250px; //<1200px
$xlg: 1600px;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($var) {
  -webkit-transition: $var;
     -moz-transition: $var;
      -ms-transition: $var;
          transition: $var;
}

@mixin box-shadow($var) {
  -webkit-box-shadow: $var;
     -moz-box-shadow: $var;
      -ms-box-shadow: $var;
          box-shadow: $var;
}

@mixin transform($var) {
  -webkit-transform: $var;
     -moz-transform: $var;
      -ms-transform: $var;
          transform: $var;
}


/*
@media (min-width: $md) {}
-webkit-
-moz-
-ms-
-o-

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
-o-justify-content: center;
justify-content: center;
-webkit-flex-wrap: wrap;
-moz-flex-wrap: wrap;
-ms-flex-wrap: wrap;
-o-flex-wrap: wrap;
flex-wrap: wrap;


&:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
*/