/* ---- modulos  ---- */
.wrapper-modulo {
  position: relative;
  clear: both;
  display: block;
}

.body-modulo {
  padding: 40px 0 20px;
  min-height: 350px;
}

.footer-modulo {
  border-top: 1px solid $negro;
  background-color: transparent;
}

.titulo-modulo {
  font-size: 150%;
  line-height: 150%;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid $gris;
  @media (min-width: $md) {
    font-size: 250%;
    line-height: 200%;
    
  }
}

.load-ajax {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: url(../images/loader-ajax.gif) no-repeat center;
  background-size: 20%;
  right: 0;
  top: 0;
}

.popup-url-input {
  width: 40px;
  display: inline-block;
  vertical-align: top;
}

.popup-url-label {
  font-size: 120%;
  line-height: 120%;
  text-transform: uppercase;
  margin: 10px 10px 10px 0px!important;
  display: inline-block;
}

.img-wrapper {
    padding: 10px;
    border: 1px solid $color-footer;
    margin: 10px 0px;
}

.sliders-wrapper {
  li {
    border-bottom: 1px solid $gris;

    &:last-child {
      border-bottom: none;
    }
  }
}

.wrapper-nuevo-usuario {
  height: 0;
  overflow: hidden;
}

.btns-user {
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}

.icon-save-user {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/refresh.png) no-repeat center;
}

.icon-del-user {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/ios-trash.png) no-repeat center;
}

.users-list-admin {
  width: 80%;
  margin: 30px auto;
  thead {
    background-color: rgba(0,0,0,0.5);
    color: $blanco;
    text-transform: uppercase;
  }
  tbody {
    background-color: rgba(0,0,0,0.1);
    color: $negro;
    position: relative;
  }
  tr {
    border-bottom: 1px solid #aaa;
    &:last-child {
      border-bottom: none;
    }
  }
  td {
    height: 40px;
    padding: 5px;
    vertical-align: middle;
  }

  .change-user-form-wrapper {
    display: none;
    background: $blanco;
  }

}

.otras-opciones {
  margin-bottom: 5%;
  li {
    margin: 1em 0;

    label {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .type-text {
    label{
      line-height: 150%;
      text-transform: capitalize;
    }
    input {
       height: 25px;
     }
  }
  .type-file {
    a {
      font-size: 90%;
      text-decoration: underline;

      &:hover {
        font-style: italic;
      }
    }
  }

  .btn-change-file-opciones, .btn-new-file-opciones {
    cursor: pointer;
    font-style: italic;
    color: $resaltado;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .btn-del-file-opciones {
    font-size: 80%;
    cursor: pointer;
    color: $danger;
  }
}

.contacts-container {
	margin:50px auto;
}

.tabla-suscriptores {
	
	td {
		padding: 10px;
		vertical-align: middle;
	}
	thead{
		font-size: 110%;
		font-weight: bold;
		tr {
			border: 1px solid #666;
			background-color: #ccc;
		}
	}
	tbody{
		tr {
			border: 1px solid #666;
    }
    .font-reduce {
      font-size: 80%;
    }
	}
}

.del-user {
  cursor: pointer;
  width: 30px;
  height: 30px;

	&:hover {
		opacity: 0.7;
	}

	img {
		display: block;
		width: 80%;
		margin: 0 auto;
	}
}

/*
*categorias
*/

.tabla-categorias {
  width: 90%;
  border: 1px solid #999;
  margin: 40px auto 80px;

  tr {
    border: 1px solid black;
  }

  td {
    padding: 5px;
  }

  thead {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.error-msj {
  color: red;
  font-style: italic;
  font-size: 80%;
  display: block;
}
